mixin section(name, description)
  section(class="section__" + name)
    .section__col--left
      h2 #{name}
      h3 #{description}
    .section__col--right
      case name
        when "intro"
          include _section_intro
        when "expertise"
          include _section_expertise
        when "skills"
          include _section_skills
        when "experience"
          include _section_experience
        when "education"
          include _section_education
        when "profiles"
          include _section_profiles
        when "contact"
          include _section_contact

mixin expertise(...elements)
  each element in elements
    .expertise__element
      h2= element.title
      p= element.text

mixin skills(...skills)
  .skills
    each skill in skills
      .skills__element
        h2 #[span #{skill.value}] #{skill.name}
        .progress-bar
          .progress-bar--filled.animated(data-percent=skill.value)

mixin timeline(...elements)
  .timeline
    each element in elements
      .timeline__element
        .timeline__point
        .timeline__header
          time(datetime=element.timeFrom)= element.timeFrom
          - if (element.timeTo == "present") 
            span  - present
          - else if (element.timeFrom !== element.timeTo)
            span  - 
            time(datetime=element.timeTo)= element.timeTo
          h2= element.title
          h3= element.role
          h4= element.place
        .timeline__content
          p= element.description

mixin contact(...details)
  .contact__details.animated
    each detail in details
      .contact__detail.animated
        h3= detail.name
        if detail.link == "false"
          p= detail.description
        else
          p #[a(href=detail.link) #{detail.description}] 
          
mixin socials(...socials)
  ul.socials.animated
    each social in socials
      li.social__element
        a(href=social.url, target="_blank")
          | #{social.name}
          span(class="icon-" + social.name)
