mixin section(name, description)
  section(class='section__#{name}')
    .section__col--left
      h1 #{name}
      h2 #{description}
    .section__col--right
      case name
        when 'intro'
          include _section_intro
        when 'expertise'
          include _section_expertise
        when 'skills'
          include _section_skills
        when 'education'
          include _section_education
        when 'profiles'
          include _section_profiles
        when 'portfolio'
          include _section_portfolio
        when 'contact'
          include _section_contact

mixin contact(...details)
  .contact__details
    each detail in details
      .contact__detail
        h3= detail.name
        if detail.link == 'false'
          p= detail.description
        else
          a(href='#{detail.link}')= detail.description
          
mixin socials(...socials)
  ul.socials
    each social in socials
      li.social__element
        a(href='#{social.url}', alt='#{social.name}', target='_blank')
          i(class='icon-#{social.name}')
